{% comment %} Edit your menu in _data/menu.yml. {% endcomment %}

    <div class="nav-wrapper">

        {% comment %} For mobile, this technique creates a clickable button.
        We place the label second so that we can select it based on its
        preceding element, the checkbox, being checked. {% endcomment %}
        <input type="checkbox" id="show-menu" role="button">
        <label for="show-menu" class="show-menu">
            <span class="show-menu-button">{{ site.data.locales[site.data.settings.language].nav.open }}</span>
            <span class="hide-menu-button">{{ site.data.locales[site.data.settings.language].nav.close }}</span>
        </label>

        <nav>
            <ul>
                {% include nav-list.html %}
            </ul>
        </nav>

    </div>
