---
layout: default
---

<h1>A2L Items Library: {{ page.name }}</h1>

{{ content }}

<p>Listing items filtered by tag "{{ page.tag }}":</p>

<ul>
{% for item in site.items %}
{% if item.tags contains page.tag %}
    <li class="items_list"><strong><a href="{{ item.url | relative_url }}">{{ item.name }}</a></strong>: {{ item.description }}{% if item.keywords %} (<em>{{ item.keywords }}</em>){% endif %}</li>
{% else %}
    <li class="items_list">omitting {{item.name}} which has tags {{item.tags}}</li>
{% endif %}
{% endfor %}
</ul>
